*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header{
  text-align: center;
  margin: 20px 0;
  color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.paragraphNumber{
  text-align: center;
}

.paragraphNumber select{
  margin: 10px 0;
}

.btn{
  background-color: red;
  color: ;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}

.btn:active{
  scale: 0.98;
}

.paragraphs{
  max-width: 80%;
  margin: 0 auto;
}

.paragraph{
  margin: 20px 0;
}


